.metadata
workFlowAngrUI\angular-6-jwt-authentication-example-master\angular-6-jwt-authentication-example-master\node_modules
workFlowManagement\.mvn
workFlowManagement\.settings
workFlowManagement\target
